@charset "UTF-8";

main {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    overflow: hidden;
}

main .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > * {
    transform: translateY(-50px);
}

main .circle-graphic {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .circle-graphic::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 75%;
    width: 75%;
    border-radius: 50%;
}

main .circle-graphic .value,
main .circle-graphic .value::after{
    z-index: 1;
    color: black;
    font-size: 40px;
    font-weight: 600;
}
main .circle-graphic .value::after {
    content: '%';
    font-size: 30px;
    color: rgba(0,0,0,.4);
}

main .buttons {
    width: 160px;
    margin-left: 50px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

main .buttons button {
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: 200ms;
}

main .buttons button:hover {
    background-color: var(--secondary-color);
    color: cornflowerblue;
}

main .capacity {
    margin-top: 40px;
}

main .capacity .info table {
    width: 500px;
    /* border-collapse: collapse; */
}

main .capacity .info table thead th,
main .capacity .info table tbody td {
    /* border-bottom: 1px solid #fff; */
    text-align: center;
    padding: 10px;
}

main .capacity .info table thead th {
    background-color: var(--primary-color);
    color: #fff;
}

main .capacity .info table tbody td {
    background-color: var(--secondary-color);
    font-weight: 600;
}
