@charset "UTF-8";

main {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 40px;
    overflow: hidden;
}

main .row {
    display: flex;
    justify-content: center;
    align-content: center;
}

main > * {
    transform: translateY(12px);
}

main .tank-graphic {
    position: relative;
    background-color: none;
    border: 5px solid #000;
    border-radius: 15px 15px 25px 25px;
    width: 200px;
    height: 280px;
}

main .tank-graphic::before {
    content: "";
    position: absolute;
    z-index: -2;
    border-radius: 10px;
    border: 5px solid #000;
    border-bottom: none;
    top: -8%;
    left: 50%;
    width: 80%;
    height: 6%;
    background-color: #fff;
    transform: translateX(-50%);
}

main .tank-graphic .waves-wrapper {
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    width: 200px;
    height: 280px;
    border-radius: 15px 15px 25px 25px;
    overflow: hidden;
}

main .tank-graphic .waves {
    /* Is this property that changes the height*/
    --volume-percent: 10%;
    --wave-size-y: calc(22px * (110/118));
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(107% - (var(--volume-percent)));

    background-color: #00aeff;
}

main .tank-graphic .waves::before {
    content: "";
    position: absolute;
    top: calc(-0.995 * (var(--wave-size-y)));
    left: 0px;
    width: 100%;
    height: 37px;
    background: url(../img/wave.png);
    background-size: 110px var(--wave-size-y);
    animation: wave-animate 0.5s linear infinite;
}

main .tank-graphic .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    font-weight: 600;
}
main .tank-graphic .percent::after {
    content: "%";
    font-size: 0.7em;
    font-weight: 800;
    color: #3f3f3f;
}

main .buttons {
    width: 160px;
    margin-left: 50px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

.btn-on-off {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

main .buttons button {
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: 200ms;
}

.btn-on-off button {
    padding: 5%;
    width: 40%;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: 200ms;
}

main .btn-on-off button:hover {
    background-color: var(--secondary-color);
    color: cornflowerblue;
}

main .capacity {
    margin-top: 40px;
}

main .capacity .info table {
    width: 39vw;
    table-layout: fixed;
    /* border-collapse: collapse; */
}

main .capacity .info table thead th,
main .capacity .info table tbody td {
    /* border-bottom: 1px solid #fff; */
    text-align: center;
    padding: 10px;
}

main .capacity .info table thead th {
    background-color: var(--primary-color);
    color: #fff;
}

main .capacity .info table tbody td {
    background-color: var(--secondary-color);
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 510px) {
    main {
        padding-left: 0;
        padding-top: 80px;
    }
    main .row {
        flex-direction: column;
    }
}

/* ANIMATION */
@keyframes wave-animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 110px;
    }
}